/* Some generic rules */

html {
    margin: 0;
    padding: 0;
    display: flex;
    width: 100%;
}

*{
    box-sizing: border-box;
}

body {
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    overflow-x: hidden;
}


/* Upper menu nav bar */
.nav {
    width: 100%;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 70;
    font-family: 'IBM Plex Mono', monospace;
}

.nav li, .nav a{
    display: inline-block;
    margin: 10px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.2rem;
    transition: .5s ease;
    color: white;
}

.nav li.active{
    border-bottom: 2px solid black;
}

/* Main body of the page css rules */

.section{
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainContent{
    display: flex;
    margin: auto;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    border-radius: 30px;
    height: 100vh;
}

.home{
    width: 60vw;
    background: white;
    height: 70vh;
}

.about{
    top: 10%;
    max-width: 100%;
    flex-direction: column;
    overflow: scroll;
    height: 80%;
}

.logo{
    width: 200px;
    border-radius: 80%;
    border: 10px black solid;
    background: #000;
}

.title{
    font-family: 'IBM Plex Mono', monospace;
}

.content{
    text-align: justify;
    text-justify: auto;
    font-family: 'IBM Plex Mono', monospace;
    font-weight: bold;
}

.white{
    color: white;
}


.limit{
    max-width: 1200px;
    overflow: hidden;
    align-items: center;
    font-family: 'IBM Plex Mono', monospace;
    padding: 10px 30px;
    font-weight: bold;
}

ul.content{
    width: 100%;
    overflow: hidden;
    margin: auto;
    align-items: center;
}

ul.content li{
    align-items: center;
    text-align: left;
}

.aboutList{
    max-height: 50%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.vertical{
    display: flex;
    justify-content: space-around;
}

.projects{
    top: 10%;
    max-width: 80vw;
    overflow-y: scroll;
    height: 80%;
    z-index: 9999;
}

.projectImgs{
    max-width: 900px;
    max-height: 500px;
    border-radius: 30px;
    box-shadow: 0px 22px 6px 6px rgba(0,0,0,0.1);
}

.socials{
    top: 10%;
    width: 80vw;
    overflow-y: 80%;
    height: 80%;
    background: white;
    border-radius: 1.5em;
    -webkit-border-radius: 1.5em;
    -moz-border-radius: 1.5em;
    -ms-border-radius: 1.5em;
    -o-border-radius: 1.5em;
}

/* .socialContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    top: 50%;
    transform: translateY(100%);
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%);
} */

/* /* .socialDiv {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin: 30px;
    overflow: hidden;
}

.socialDiv img {
    height: 50px;
    transition: height ease 0.3s;
}

.socialDiv img:hover {
    height: 60px;

}

.socialDiv .content{
    margin: 0;
}

.center{
    margin: auto;
    text-align: center;
    width: 100%;
} */


/* #skills br{
    margin:0.8em 0;
    line-height:0.8em;
} */

/* Particles JS rules */

#particles-js {
    width: 100%;
    height: 100%;
    background-color: gray;
    /*background-image: url('');*/
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    position: absolute;
}

canvas {
    display: block;
}

/* bottom slide */

div.fp-slidesNav.bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}


/*  slider stuff */
.container{
    padding: 2rem;
}

.slider-wrapper{
    position: relative;
    max-width: 48rem;
    margin: 0 auto;
}

.slider{
    display: flex;
    aspect-ratio: 16/9;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0,0,0,0.25);
    border: 0.5rem;
    overflow: hidden;
    border-radius: 30px;
    box-shadow: 0px 10px 2px 0px rgba(0,0,0,0.1);
}

.slider img{
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: fill;
}

.slider-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;
    background: rgba(0, 0, 0, 0.5);
    border: none;
    cursor: pointer;
    color: white;
    padding: 10px 15px;
    border-radius: 50%;
    z-index: 9999;
    transition: transform 0.3s ease, border 0.3s ease; /* Add a smooth transition for both transform and border */
    border: 2px solid transparent; /* Add a transparent border */
  }
  
  .slider-arrow-left {
    left: 3%; /* Add left padding of 1% */
  }
  
  .slider-arrow-right {
    right:3%; /* Add right padding of 1% */
  }
  
  /* Hover effect */
  .slider-arrow:hover {
    transform: scale(1.2) translateY(-50%); /* Apply a slight scale effect on hover and re-center vertically */
    border: 2px solid rgba(0, 0, 0, 0.5); /* Show the border on hover */
  }


@media(max-width: 768px){
    div#particles-js{
        display: none;
    }

    [data-anchor="section1"]{
        background: grey;
    }

    a#logo{
        font-size: 0.5em;
    }

    .menu li{
        margin: auto;
        font-size: 15px;
    }

    .menu li a{
        font-size: 0.6em;
    }

    .mainContent{
        max-height: 70%;
        width: 90%;
    }

    .mainContent.home{
        height: auto;
        padding: 20px;
    }

    h2{
        font-size: 20px;
    }

    .content{
        font-size: 10px;
    }

    .home img{
        width: 100px;
    }

    .about{
        max-height: 70%;
    }

    ul.limit{
        font-size: 10px;
        flex-wrap: wrap;
        margin: 0;
        padding: 0 30px;
    }

    ul.limit li{
        margin: 5px;
    }

    .slider-arrow {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        font-size: 1rem;
        background: rgba(0, 0, 0, 0.5);
        border: none;
        cursor: pointer;
        color: white;
        padding: 3px 6px;
        border-radius: 50%;
        z-index: 9999;
        transition: transform 0.3s ease, border 0.3s ease; /* Add a smooth transition for both transform and border */
        border: 2px solid transparent; /* Add a transparent border */
      }
      
      .slider-arrow-left {
        left: 0%; /* Add left padding of 1% */
      }
      
      .slider-arrow-right {
        right:0%; /* Add right padding of 1% */
      }
      
      /* Hover effect */
      .slider-arrow:hover {
        transform: scale(1.2) translateY(-50%); /* Apply a slight scale effect on hover and re-center vertically */
        border: 2px solid rgba(0, 0, 0, 0.5); /* Show the border on hover */
      }

      .slider img{
        flex: 1 0 100%;
        scroll-snap-align: start;
        object-fit: fill;
    }

    .projectImgs{
        width: 250px;
    }
}