/* Some generic rules */

html {
    margin: 0;
    padding: 0;
    display: flex;
    width: 100%;
}

*{
    box-sizing: border-box;
}

body {
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    overflow-x: hidden;
}


/* Upper menu nav bar */
.nav {
    width: 100%;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 70;
    font-family: 'IBM Plex Mono', monospace;
}

.nav li, .nav a{
    display: inline-block;
    margin: 10px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.2rem;
    transition: .5s ease;
    color: white;
}

.nav li.active{
    border-bottom: 2px solid black;
}

/* Main body of the page css rules */

.section{
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainContent{
    display: flex;
    margin: auto;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    border-radius: 30px;
    height: 100vh;
}

.home{
    width: 60vw;
    background: white;
    height: 70vh;
}

.about{
    top: 10%;
    max-width: 100%;
    flex-direction: column;
    overflow: scroll;
    height: 80%;
}

.logo{
    width: 200px;
    border-radius: 80%;
    border: 10px black solid;
    background: #000;
}

.title{
    font-family: 'IBM Plex Mono', monospace;
}

.content{
    text-align: justify;
    text-justify: inter-word;
    font-family: 'IBM Plex Mono', monospace;
    font-weight: bold;
}

.white{
    color: white;
}

.limit{
    max-width: 1200px;
    overflow: hidden;
    align-items: center;
    font-family: 'IBM Plex Mono', monospace;
    padding: 10px 30px;
    font-weight: bold;
}

ul.content{
    width: 100%;
    overflow: hidden;
    margin: auto;
    align-items: center;
}

ul.content li{
    align-items: center;
    text-align: left;
}

.aboutList{
    max-height: 50%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.vertical{
    display: flex;
    justify-content: space-around;
}

/* Particles JS rules */

#particles-js {
    width: 100%;
    height: 100%;
    background-color: gray;
    /*background-image: url('');*/
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    position: absolute;
    
}

canvas {
    display: block;
    vertical-align: bottom;
}

/* bottom slide */

div.fp-slidesNav.bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.projects{
    max-width: 80%;
    overflow-y: hidden;
}

.projectImgs{
    max-width: 900px;
    border-radius: 30px;
    box-shadow: 0px 22px 6px 6px rgba(0,0,0,0.1);
}

/* Adjust the slider container */
.container{
    padding: 2rem;
}

.slider-wrapper{
    position: relative;
    max-width: 48rem;
    margin: 0 auto;
}

.slider{
    display: flex;
    aspect-ratio: 16/9;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0,0,0,0.25);
    border: 0.5rem;
    overflow: hidden;
    border-radius: 30px;
    box-shadow: 0px 10px 2px 0px rgba(0,0,0,0.1);
}

.slider img{
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
}

.slider-arrows {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    width: 100%;
    padding: 2%;
    justify-content: space-between;
    z-index: 9999;
}

.slider-arrows button {
    font-size: 2rem;
    background: rgba(0, 0, 0, 0.5);
    border: none;
    cursor: pointer;
    margin: 0 10px;
    color: white;
    padding: 10px 15px;
    border-radius: 50%;
    z-index: 9999;
}

.slider-arrow-left,
.slider-arrow-right {
    font-size: 2rem;
    background: transparent;
    border: none;
    cursor: pointer;
    margin: 0 10px;
    color: white;
    transition: transform 0.3s ease; /* Add a smooth transition */
}

/* Hover effect */
.slider-arrow-left:hover,
.slider-arrow-right:hover {
    transform: scale(1.2); /* Apply a slight scale effect on hover */
}
